name: Auto Assign PR Author

on:
  pull_request:
    types: [opened, reopened]

jobs:
  assign-author:
    runs-on: ubuntu-latest
    steps:
      - name: Assign PR author
        uses: toshimaru/auto-assign-action@v2
        with:
          assignees: ${{ github.actor }}
